/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter";
  --acent-font: "PressStarr2P";
  --font-weight-main: 700;
  --font-weight-additional: 400;
  --accent-color: #000000;
  --bg-color: #ffffff;
  --label-color: #898989;
  --theme-button: rgba(0, 0, 0, 0.6);
  --button-color: #ffffff;
  --contur-color: #000000;
  --filling-color: red;
  --background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}
